.css-pqjvzy-MuiSvgIcon-root-MuiSelect-icon {
  padding-right: 12px !important;
}

.card {
  .detail_txt {
    font-size: 9px;
    color: #8492A7;
    text-align: start;
  }
  &:hover {
    border: 1px solid #0B98DA ;
  }
  &:focus {
    border: 1px solid #0B98DA ;
  }
}

.footer-dashboard {
  position: fixed;
  bottom: 0;
  width: -webkit-fill-available;
  padding: 32px;
}