.text-area {
    overflow: hidden;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
    color: #8492A7;
}

.delivery-footer {
    position: fixed;
    bottom: 0;
    width: -webkit-fill-available;
    padding: 32px;
    justify-content: space-between;
    display: flex;
}