.text-area {
    overflow: hidden;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;
    color: #8492A7;
}

.footer {
    width: -webkit-fill-available;
    position: fixed;
    bottom: 0;
    padding: 32px;
}