.css-74e2me-MuiInputBase-root-MuiInput-root-MuiSelect-root::after {
    border-bottom: none !important;
}
.css-74e2me-MuiInputBase-root-MuiInput-root-MuiSelect-root::before {
    border-bottom: none !important;
}
.css-74e2me-MuiInputBase-root-MuiInput-root-MuiSelect-root {
    font-size: 13px !important;
}